# MODULES AND VIRTUAL ENVIRONMENTS

1.import modules and error handling

In [1]:
import math
import random

In [2]:
                                                                     # Custom module definition
def custom_function():
    print("This is a custom function from custom_module.py")

In [3]:
                                                                          # Use the imported modules
print("Using modules:")
print("Square root of 25:", math.sqrt(25))
 print("Random number between 1 and 10:", random.randint(1, 10))

Using modules:
Square root of 25: 5.0
Random number between 1 and 10: 2

In [4]:
                                                         # Use the custom module
print("\nUsing custom_module:")
custom_function()

Using custom_module:
This is a custom function from custom_module.py

In [5]:
                                            #implement the error handling for missing modules
try:
    import non_existent_module
except ImportError as e:
    print("\nError importing module:", e)

try:
    math.non_existent_function()
except AttributeError as e:
    print("Error using module function:", e)

Error importing module: No module named 'non_existent_module'
Error using module function: module 'math' has no attribute 'non_existent_function'

In [1]:
import mysql.connector


conn=mysql.connector.connect(host="127.0.0.1",user="root",password="Godsave@00300820",database="mla")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B92BAD9F10>

In [2]:
curs=conn.cursor()

In [3]:
curs.execute("show databases")
for i in curs:
    print(i)

('company',)
('employee',)
('information_schema',)
('invest',)
('mla',)
('mysql',)
('performance_schema',)
('procedure',)
('sakila',)
('sys',)
('task',)
('trial',)
('world',)

In [4]:
curs=conn.cursor()
curs.execute("create table emptable(emp_id int primary key,name varchar(20),salary float,department varchar(30),hiredate date)")

In [5]:
curs.execute("show tables")
for i in curs:
    print (i)

('customer',)
('employeeinfo',)
('emptable',)

In [6]:
cus_insert="insert into emptable(emp_id,name,salary,department,hiredate)VALUES(378,'mowli',20000,'cse',STR_TO_DATE('16/08/2000', '%m/%d/%Y'))"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [9]:
cus_insert="insert into emptable(emp_id,name,salary,department,hiredate)VALUES(456,'shinchan',30000,'cse',STR_TO_DATE('10/08/2005', '%m/%d/%Y'))"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [10]:
cus_insert="insert into emptable(emp_id,name,salary,department,hiredate)VALUES(675,'jackiechan',10000,'IT',STR_TO_DATE('11/08/2005', '%m/%d/%Y'))"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [11]:
cus_insert="insert into emptable(emp_id,name,salary,department,hiredate)VALUES(987,'simon',60000,'IT',STR_TO_DATE('11/08/2008', '%m/%d/%Y'))"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [12]:
cus_update="update emptable set department='it' WHERE name='daphne'"
curs.execute(cus_update)
conn.commit()
print("The row is updated")

The row is updated

In [13]:
cus_update="update emptable set department='ece' WHERE name='sam'"
curs.execute(cus_update)
conn.commit()
print("The row is updated")

The row is updated

In [14]:
curs.execute("create table accord(id int,name varchar(20),quantity int)")  # create the table accord

In [15]:
cus_insert="insert into accord(id,name,quantity)VALUES(%s,%s,%s)"
cus_values=[(13,'ocean spray',5),(18,'orange',8),(45,'leela palace',24),(7,'imperial',9),(17,'skynewyork',27)]
curs.executemany(cus_insert,cus_values)
conn.commit()
print(curs.rowcount,"is inserted")               #insert into accord

5 is inserted

In [16]:
curs.execute("select *from accord")         # execute the accord desc
for i in curs:
    print(i)

(13, 'ocean spray', 5)
(18, 'orange', 8)
(45, 'leela palace', 24)
(7, 'imperial', 9)
(17, 'skynewyork', 27)

In [20]:
curs.execute("select quantity from accord")   #retrieve the data from table
records = curs.fetchall()

In [22]:
total_quantity = sum(record[0] for record in records)  #print the total quantity of table
print("Total Quantity:", total_quantity)

Total Quantity: 73

In [23]:
curs.execute("update accord set quantity = quantity * 2")   # dooubling its value

In [28]:
import mysql.connector


conn=mysql.connector.connect(host="127.0.0.1",user="root",password="Godsave@00300820",database="inventory")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B92D2B7190>

In [31]:
curs=conn.cursor()

In [32]:
curs.execute("show databases")
for i in curs:
    print(i)

('company',)
('employee',)
('information_schema',)
('inventory',)
('invest',)
('mla',)
('mysql',)
('performance_schema',)
('procedure',)
('sakila',)
('sys',)
('task',)
('trial',)
('world',)

In [34]:
curs=conn.cursor()
curs.execute("create table purchase(id int auto_increment primary key,product_name varchar(300),quantity int)")

In [35]:
curs=conn.cursor()
curs.execute("create table sale(id int auto_increment primary key,product_name varchar(255),quantity int)")

In [36]:
curs=conn.cursor()
curs.execute("create table invent(id int auto_increment primary key,product_name varchar(300),availabe_quantity int)")

In [37]:
curs.execute("show tacus_insert="insert into purchase(id,product_name,quantity)VALUES('76','dior','20000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

bles")
for i in curs:
    print (i)

('invent',)
('inventory',)
('purchase',)
('purchases',)
('sale',)
('sales',)

In [39]:
cus_insert="insert into purchase(id,product_name,quantity)VALUES('76','dior','20000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [40]:
cus_insert="insert into purchase(id,product_name,quantity)VALUES('78','gucci','30000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [41]:
cus_insert="insert into purchase(id,product_name,quantity)VALUES('79','prada','10000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [42]:
cus_insert="insert into sale(id,product_name,quantity)VALUES('35','gucci','1000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [43]:
cus_insert="insert into sale(id,product_name,quantity)VALUES('36','dior','2000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [44]:
cus_insert="insert into sale(id,product_name,quantity)VALUES('37','dior','8000')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [49]:
cus_insert="insert into invent(id,product_name,availabe_quantity)VALUES('38','calvin klein','8')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [50]:
cus_insert="insert into invent(id,product_name,availabe_quantity)VALUES('39','hm','9')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [53]:
cus_update="update inventory set id='20' WHERE product_name='prada'"
curs.execute(cus_update)
conn.commit()
print("The row is updated")

The row is updated

In [56]:
cus_update="update inventory set id='37' WHERE product_name='daphne'"
curs.execute(cus_update)
conn.commit()
print("The row is updated")

The row is updated

In [64]:
curs.execute("select purchase.id,purchase.product_name,purchase.quantity from purchase inner join sale on purchase.id=sale.id")
for i in curs:
    print(i)

In [65]:
import mysql.connector


conn=mysql.connector.connect(host="127.0.0.1",user="root",password="Godsave@00300820",database="customernew")

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B92D606010>

In [66]:
curs=conn.cursor()

In [67]:
curs.execute("show databases")
for i in curs:
    print(i)

('company',)
('customernew',)
('employee',)
('information_schema',)
('inventory',)
('invest',)
('mla',)
('mysql',)
('performance_schema',)
('procedure',)
('sakila',)
('sys',)
('task',)
('trial',)
('world',)

In [68]:
curs.execute("show tables")
for i in curs:
    print (i)

In [72]:
cus_insert="insert into customers(customer_id,name,address,phone)VALUES(123,'shinchan','new avenue',123456789)"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [73]:
cus_insert="insert into customers(customer_id,name,address,phone)VALUES(333,'leo','old street',111111111)"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [74]:
cus_insert="insert into customers(customer_id,name,address,phone)VALUES(456,'john','right street',1178951111)"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [75]:
cus_insert="insert into products(product_id,name,price,quantity)VALUES(1,'shinchan',200,4)"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [76]:

cus_insert="insert into products(product_id,name,price,quantity)VALUES(2,'foxtale',349,3)"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [77]:
cus_insert="insert into products(product_id,name,price,quantity)VALUES(4,'rare beauty',500,7)"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [87]:
cus_insert="insert into orders(order_id,customer_id)VALUES('4','456')"
curs.execute(cus_insert)
conn.commit()
print(curs.rowcount,"is inserted")

1 is inserted

In [83]:
curs.execute("create table ordered(order_id int primary key,customer_id int,foreign key(customer_id)references customers(customer_id))")

In [88]:
def display_products(curs):
    curs.execute("SELECT * FROM Products")
    products = curs.fetchall()
    
    print("Available Products:")
    for product in products:
        print(f"{product[0]}. {product[1]} - ${product[3]} (Qty: {product[4]})")

In [89]:
# 3. Function to place a new order
def place_order(curs, customer_id):
    display_products(curs)
    
    # Prompt the customer for product selection
    product_id = int(input("Enter the product ID to purchase: "))
    quantity = int(input("Enter the quantity to purchase: "))
    
    # Check product availability
    curs.execute("SELECT quantity, price FROM Products WHERE product_id = %s", (product_id,))
    product = cursor.fetchone()
    
    if product is None:
        print("Product not found.")
        return
    
    available_quantity, price = product
    
    if quantity > available_quantity:
        print("Insufficient quantity available.")
        return

In [91]:
import mysql.connector

# Function to establish a database connection
def connect_to_database():
    try:
        connection = mysql.connector.connect(
            host="root",
            user="127.0.0.1",
            password="Godsave@00300820",
            database="customernew"
        )
        if connection.is_connected():
            return connection
        else:
            return None
    except mysql.connector.Error as err:
        print("Error:", err)
        return None

# Function to display available products
def display_products(curs):
    curs.execute("SELECT * FROM Products")
    products = curs.fetchall()
    
    print("Available Products:")
    for product in products:
        print(f"{product[0]}. {product[1]} - ${product[3]} (Qty: {product[4]})")

# Function to place a new order
def place_order(curs, customer_id):
    display_products(curs)
    
    # Prompt the customer for product selection
    product_id = int(input("Enter the product ID to purchase: "))
    quantity = int(input("Enter the quantity to purchase: "))
    
    # Check product availability
    curs.execute("SELECT quantity FROM Products WHERE product_id = %s", (product_id,))
    product = curs.fetchone()
    if product is None or quantity > product[0]:
        print("Product not available or insufficient quantity.")
        return
    
    # Calculate total cost
    curs.execute("SELECT price FROM Products WHERE product_id = %s", (product_id,))
    price = curs.fetchone()[0]
    cost = price * quantity
    
    # Insert order into Orders table
    curs.execute("INSERT INTO Orders (customer_id) VALUES (%s)", (customer_id,))
    order_id = curs.lastrowid
    
    
    # Update product quantity
    new_quantity = product[0] - quantity
    curs.execute("UPDATE Products SET quantity = %s WHERE product_id = %s", (new_quantity, product_id))
    
    print("Order placed successfully!")

if __name__ == "__main__":
    # Connect to the database
    connection = connect_to_database()
    if connection is None:
        print("Failed to connect to the database.")
    else:
        try:
            curs = connection.curs()
            
            # Prompt the user for customer information (you can extend this part)
            customer_id = int(input("Enter your customer ID: "))
            
            # Place a new order
            place_order(curs, customer_id)
            
            # Commit changes and close the connection
            connection.commit()
            curs.close()
            connection.close()
        except Exception as e:
            print("Error:", e)

Error: 2005 (HY000): Unknown MySQL server host 'root' (11001)
Failed to connect to the database.

In [ ]:
#3.module dependencies

import subprocess

def install_dependencies():
    try:
        subprocess.call(["pip", "install", "-r", "requirements.txt"])
        print("Dependencies installed successfully.")
    except Exception as e:
        print(f"Error installing dependencies: {e}")

install_dependencies()

In [ ]:
#2.create virtual environment

import subprocess
import sys
import os

def create__virtual_env(env_name):
    try:
        subprocess.run([sys.executable, '-m', 'venv', env_name])
        print(f"Virtual environment '{env_name}' created successfully.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to create the virtual environment. {e}")

def activate__virtual_env(env_name):
    try:
        activate_script = os.path.join(env_name, 'Scripts' if os.name == 'nt' else 'bin', 'activate')
        subprocess.run([activate_script], shell=True)
        print(f"Activated virtual environment '{env_name}'.")
    except FileNotFoundError:
        print(f"Error: Virtual environment '{env_name}' not found.")

def deactivate__virtual_env():
    try:
        subprocess.run(['deactivate'], shell=True)
        print("Deactivated the virtual environment.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to deactivate the virtual environment. {e}")

def install_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', package_name])
        print(f"Installed '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to install the package. {e}")

def upgrade_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', '--upgrade', package_name])
        print(f"Upgraded '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to upgrade the package. {e}")

def uninstall_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'uninstall', '-y', package_name])
        print(f"Uninstalled '{package_name}' from '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to uninstall the package. {e}")

def list_installed_packages(env_name):
    try:
        result = subprocess.run([f'{env_name}/bin/pip', 'list'], capture_output=True, text=True)
        print(f"Installed packages in '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to list installed packages. {e}")


env_name = "_virtual_env"
package_name = "numpy"

create__virtual_env(env_name)
activate__virtual_env(env_name)
install_package(env_name, package_name)
list_installed_packages(env_name)
upgrade_package(env_name, package_name)
list_installed_packages(env_name)
uninstall_package(env_name, package_name)
list_installed_packages(env_name)
deactivate_virtual_env()