# 1.manipu mullate using list:
    a)to add new elements to end
    b) to reverse elements
    c) to display the same lits of elements multiple times
    d) to  concatenate two list
    e)to sort elements in list in ascending order.

In [85]:
 new =   [ '1','3','5','7','9']            #a)to add new elements to end
 new

['1', '3', '5', '7', '9']

In [86]:
new.append('0')                          #a)to add new elements to end
new

['1', '3', '5', '7', '9', '0']

In [87]:
new.reverse   #b) to reverse elements
new

['1', '3', '5', '7', '9', '0']

In [88]:
new.reverse(:-1)
new

SyntaxError: invalid syntax (1295972602.py, line 1)

In [ ]:
print(new)

In [ ]:
new.reverse()
new

 new = ['1','3','5','7'] * 30
new       # c) to display the same lits of elements multiple times

In [ ]:
new1 = [3,8,9]
new2 = [2,4,6]
new  = new1+new2
print(new)    #to concatenate two list

In [ ]:
new4 = sorted(new)
print(new4)     #to sort elements in list in ascending order.

# 2.python program for the tuples:
    . manipulate using tuples
    . to add new elements to the end of the tuples
    . to reverse elements 
    . to display the elements of same tuple multiple times
    . to concatenate two tuples
    . to sort the elements in list in ascending order

In [ ]:
tuple = ('200','100','5','0','3','6','90')
tuple

          #manipulate using tuples

In [ ]:
print(tuple.count(3))

In [ ]:
tuple1 = ( 7,5,9,1,3)
print(tuple1.index(9))

In [ ]:
print(len(tuple1))

In [ ]:
print(min(tuple1))
print(max(tuple1))

In [ ]:
tuple1 = tuple+(2,4)
tuple1  #to add new elements to the end of the tuples

In [ ]:
 tuple1  #. to reverse elements

In [ ]:
print( 'after :',tuple1[::-1])

In [ ]:
print('reverse :' ,tuple1[3::-1])

In [ ]:
tuple2 = tuple1 * 7
tuple2             #to display the elements of same tuple multiple times

In [ ]:
tuple2 = tuple+tuple1
tuple2   #to concatenate two tuples

In [ ]:
tuple2 = (30,5,90,200,4,2)
sorted_tuple2 = sorted(tuple2)
print(sorted_tuple2)   #to sort the elements in list in ascending order

# 3.to implement using list:
    a.create a list with integers(min10 number)
    b.how to display the lastnumber in the list
    c.command for displaying the values from list[0:4]
    d.command for display the values from list[2:]
    e.command for displaying the values from list[:6]

In [ ]:
n = 10
output = []

for i in range(1,n+1):
    output.append(i)
    
print(output)#a.create a list with integers(min10 number)

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

print(list[-1])
    
    
                                                                        #b.how to display the lastnumber in the list

In [ ]:
print(list[0:4]) 
list   #command for displaying the values from list[0:4]

In [ ]:
print(list[2:])   # d.command for display the values from list[2:]
print(list[:6])               #e.command for displaying the values from list[:6]

# 4.program: tuple5 = (10,50,20,40,30)
    .to display the elements 10 and 50 from tuple5
    . display the length of tuple5
    . find minimum element of tuple5
    . to add all the elements in tuple5
    . display the same tuple5 multiple times

In [ ]:

tuple5 = ('10','50','20','40','30')

print(tuple5) #to display the elements 10 and 50 from tuple5
                                                           #. display the length of tuple5

In [ ]:
 tuple5.index('10')

In [ ]:
tuple5.index('50')

In [ ]:
len(tuple5)                                                           #. display the length of tuple5

In [ ]:
(min(tuple5))                                          #find minimum element of tuple5print(min(tuple1))                                  #. to add all the elements in tuple5
                               #. display the same tuple5 multiple times

In [ ]:
tuple5 * n

In [ ]:
tuple5 = ('30','10',50,20,40)
new = (6,)
tuple5 += new 
print

# 5.python program in string:
    . to calculate the length of string
    . to reverse words in a string
    . to display the same string multiple times
    . to concatenate two strings
    . str1="south india", using string slicing to display "india"

In [ ]:
#i)To calculate the length of the string
str=input("Enter String")
print(len(str))

In [ ]:
str = "geeks"
print(len(str))

In [ ]:
g

In [89]:
str = "god to save"     # to calculate the length of string
print(len(str))

TypeError: 'int' object is not callable

In [1]:
#i)To calculate the length of the string
str=input("Enter String")
print(len(str))

KeyboardInterrupt: Interrupted by user

Enter Stringfool

In [2]:
#ii)To reverse words in a string
str=input("Enter String:")
print(str[::-1])

Enter String:hello world
dlrow olleh

In [4]:
#iii)To display same string multiple times
str="Good afternoon"
s=str*3
s

'Good afternoonGood afternoonGood afternoon'

In [5]:
#iv)To concatenate the strings
s1="heartly"
s2="congralutions"
s3=s1+" "+s2
print(s3)

heartly congralutions

In [6]:
#v)Str1="South India" using slicing display only "India"
str1="South India"
print(str1[6::])

India

# 6.dictionary
 .create
 .accessing the dic
 .updating the dic using function
 .clear and delete

In [7]:
my_dic = {'sport': 'tennis','cartoon': 'ben tennyson','born': '2000'}
my_dic

{'sport': 'tennis', 'cartoon': 'ben tennyson', 'born': '2000'}

In [9]:
my_dic.get('cartoon')

'ben tennyson'

In [10]:
my_dic.keys()

dict_keys(['sport', 'cartoon', 'born'])

In [11]:
my_dic.values()

dict_values(['tennis', 'ben tennyson', '2000'])

In [12]:
my_dic.items()

dict_items([('sport', 'tennis'), ('cartoon', 'ben tennyson'), ('born', '2000')])

In [20]:
my_dic.update({'born':'2003'})
my_dic

{'sport': 'tennis', 'cartoon': 'ben tennyson', 'born': '2003'}

In [21]:
my_dic.pop('born')
print(my_dic)

{'sport': 'tennis', 'cartoon': 'ben tennyson'}

In [22]:
my_dic.popitem()
print(my_dic)

{'sport': 'tennis'}

In [23]:
my_dic.clear()
print(my_dic)

{}

In [27]:
del my_dic['sport']
print(my_dic)

NameError: name 'my_dic' is not defined

In [32]:
#print the insert the integers in any position



list_number=[30,8,20,72]
print(list_number)

list_number.insert(0,1)
print("updated_list:",list_number)

list_number.insert(3,6)
print("updated_list:",list_number)

[30, 8, 20, 72]
updated_list: [1, 30, 8, 20, 72]
updated_list: [1, 30, 8, 6, 20, 72]

In [34]:
#print the delete a element in index

list_number=[93,76,24,806,117,264]
print(list_number)

list_number.pop(0)   #using pop
print("updated_list:",list_number)

list_number=[93,76,24,806,117,264]
print(list_number)

del list_number[4]   #using del
print("updated_list:",list_number)

[93, 76, 24, 806, 117, 264]
updated_list: [76, 24, 806, 117, 264]
[93, 76, 24, 806, 117, 264]
updated_list: [93, 76, 24, 806, 264]

In [41]:
#display the numbers from 1 to 100

def display(count):
    while count<=100:
      print(count)
      count=count+9;
display(0)

0
9
18
27
36
45
54
63
72
81
90
99

In [54]:
#sum of all items in tuple




my_tuple=(1,5,6,7,17,18)
sum=0
for i in my_tuple:    #using loop
    sum+= i
print(sum)

54

In [57]:
 #CONTROL STRUCTURE 3.# search for string in  the list.

l1 = ['A', 'B', 'C', 'D', 'a', 'h', 'f']
s = input('Please enter a character A-Z:\n')

if s in l1:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

Please enter a character A-Z:
h
h is present in the list

In [58]:
#CONTROL STRUCTURE # 4. function accepts the string and find no.of uppercase and no.of lowercase



def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The Foxtale is most promising brand in START-UP')

Original String :  The Foxtale is most promising brand in START-UP
No. of Upper case characters :  9
No. of Lower case Characters :  30

In [63]:
#CONTROL STRUCTURE # 5. display the number of odd & even between 12 and 37

start, end = 12, 37
 
# iterating each number in list
#for num in range(start, end + 1):

#numbers = (12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37)
                                    
count_odd = 0
count_even = 0
for x in range(start, end + 1):
        if  x % 2:
    	     count_even+=1
        else:
             count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 13
Number of odd numbers : 13

In [61]:
#CONTROl STRUCTURE 17.pattern

word = "Python"
x = ""
for i in word:
    x += i
    print(x)
n=int(input("Enter no of rows:"))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

P
Py
Pyt
Pyth
Pytho
Python
Enter no of rows:3
*
* *
* * *

In [62]:
#CONTROL STRUCTURE 17.Pattern


n=int(input("Enter no of rows:"))
m=(2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m=m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")
n=int(input("Enter number:"))
for i in range(n+1):
    for j in range(n-i):
        print(' ', end='')

    a = 1
    for j in range(1, i+1):
        print(a, ' ', sep='', end='')
        a = a * (i - j) // j
    print()

Enter no of rows:10
                  *
                 *  *
                *  *  *
               *  *  *  *
              *  *  *  *  *
             *  *  *  *  *  *
            *  *  *  *  *  *  *
           *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *
Enter number:6

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [64]:
#CONTROL STRUCTURE 6.create the number table for any number


number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
                                                              # We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 4
The Multiplication Table of:  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [67]:
upto = int(input("Find sum of prime numbers upto : "))

sum = 0

for num in range(3, upto+1):

    
    for i in range(2, num):
        if (int(num % i) == 0):
            break;

    #If the number is prime then add it.
    else:
        sum += num

print("\nSum of all prime numbers upto", upto, ":", sum)

KeyboardInterrupt: Interrupted by user

In [68]:
#display sum of first 10 prime number

r=10 
for a in range(2,r+1):  
    k=0  
    for i in range(2,a//2+1):  
        if(a%i==0):  
            k=k+1  
    if(k<=0):  
        print(a,end=" ")

2 3 5 7

In [ ]:
upto = int(input("Find sum of prime numbers upto : "))

sum = 0

for num in range(2, upto + 1):

    i = 2
    
    for i in range(2, num):
        if (int(num % i) == 0):
            i = num
            break;

    #If the number is prime then add it.
    if i is not num:
        sum += num

print("\nSum of all prime numbers upto", upto, ":", sum)