# 1.manipulate using list:
    a)to add new elements to end
    b) to reverse elements
    c) to display the same lits of elements multiple times
    d) to  concatenate two list
    e)to sort elements in list in ascending order.

In [85]:
 new =   [ '1','3','5','7','9']            #a)to add new elements to end
 new

['1', '3', '5', '7', '9']

In [86]:
new.append('0')                          #a)to add new elements to end
new

['1', '3', '5', '7', '9', '0']

In [87]:
new.reverse   #b) to reverse elements
new

['1', '3', '5', '7', '9', '0']

In [88]:
new.reverse(:-1)
new

SyntaxError: invalid syntax (1295972602.py, line 1)

In [ ]:
print(new)

In [ ]:
new.reverse()
new

 new = ['1','3','5','7'] * 30
new       # c) to display the same lits of elements multiple times

In [ ]:
new1 = [3,8,9]
new2 = [2,4,6]
new  = new1+new2
print(new)    #to concatenate two list

In [ ]:
new4 = sorted(new)
print(new4)     #to sort elements in list in ascending order.

# 2.python program for the tuples:
    . manipulate using tuples
    . to add new elements to the end of the tuples
    . to reverse elements 
    . to display the elements of same tuple multiple times
    . to concatenate two tuples
    . to sort the elements in list in ascending order

In [ ]:
tuple = ('200','100','5','0','3','6','90')
tuple

          #manipulate using tuples

In [ ]:
print(tuple.count(3))

In [ ]:
tuple1 = ( 7,5,9,1,3)
print(tuple1.index(9))

In [ ]:
print(len(tuple1))

In [ ]:
print(min(tuple1))
print(max(tuple1))

In [ ]:
tuple1 = tuple+(2,4)
tuple1  #to add new elements to the end of the tuples

In [ ]:
 tuple1  #. to reverse elements

In [ ]:
print( 'after :',tuple1[::-1])

In [ ]:
print('reverse :' ,tuple1[3::-1])

In [ ]:
tuple2 = tuple1 * 7
tuple2             #to display the elements of same tuple multiple times

In [ ]:
tuple2 = tuple+tuple1
tuple2   #to concatenate two tuples

In [ ]:
tuple2 = (30,5,90,200,4,2)
sorted_tuple2 = sorted(tuple2)
print(sorted_tuple2)   #to sort the elements in list in ascending order

# 3.to implement using list:
    a.create a list with integers(min10 number)
    b.how to display the lastnumber in the list
    c.command for displaying the values from list[0:4]
    d.command for display the values from list[2:]
    e.command for displaying the values from list[:6]

In [ ]:
n = 10
output = []

for i in range(1,n+1):
    output.append(i)
    
print(output)#a.create a list with integers(min10 number)

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]

print(list[-1])
    
    
                                                                        #b.how to display the lastnumber in the list

In [ ]:
print(list[0:4]) 
list   #command for displaying the values from list[0:4]

In [ ]:
print(list[2:])   # d.command for display the values from list[2:]
print(list[:6])               #e.command for displaying the values from list[:6]

# 4.program: tuple5 = (10,50,20,40,30)
    .to display the elements 10 and 50 from tuple5
    . display the length of tuple5
    . find minimum element of tuple5
    . to add all the elements in tuple5
    . display the same tuple5 multiple times

In [ ]:

tuple5 = ('10','50','20','40','30')

print(tuple5) #to display the elements 10 and 50 from tuple5
                                                           #. display the length of tuple5

In [ ]:
 tuple5.index('10')

In [ ]:
tuple5.index('50')

In [ ]:
len(tuple5)                                                           #. display the length of tuple5

In [ ]:
(min(tuple5))                                          #find minimum element of tuple5print(min(tuple1))                                  #. to add all the elements in tuple5
                               #. display the same tuple5 multiple times

In [ ]:
tuple5 * n

In [ ]:
tuple5 = ('30','10',50,20,40)
new = (6,)
tuple5 += new 
print

# 5.python program in string:
    . to calculate the length of string
    . to reverse words in a string
    . to display the same string multiple times
    . to concatenate two strings
    . str1="south india", using string slicing to display "india"

In [ ]:
#i)To calculate the length of the string
str=input("Enter String")
print(len(str))

In [ ]:
str = "geeks"
print(len(str))

In [ ]:
g

In [89]:
str = "god to save"     # to calculate the length of string
print(len(str))

TypeError: 'int' object is not callable

In [1]:
#i)To calculate the length of the string
str=input("Enter String")
print(len(str))

KeyboardInterrupt: Interrupted by user

Enter Stringfool

In [2]:
#ii)To reverse words in a string
str=input("Enter String:")
print(str[::-1])

Enter String:hello world
dlrow olleh

In [4]:
#iii)To display same string multiple times
str="Good afternoon"
s=str*3
s

'Good afternoonGood afternoonGood afternoon'

In [5]:
#iv)To concatenate the strings
s1="heartly"
s2="congralutions"
s3=s1+" "+s2
print(s3)

heartly congralutions

In [6]:
#v)Str1="South India" using slicing display only "India"
str1="South India"
print(str1[6::])

India

# 6.dictionary
 .create
 .accessing the dic
 .updating the dic using function
 .clear and delete

In [7]:
my_dic = {'sport': 'tennis','cartoon': 'ben tennyson','born': '2000'}
my_dic

{'sport': 'tennis', 'cartoon': 'ben tennyson', 'born': '2000'}

In [9]:
my_dic.get('cartoon')

'ben tennyson'

In [10]:
my_dic.keys()

dict_keys(['sport', 'cartoon', 'born'])

In [11]:
my_dic.values()

dict_values(['tennis', 'ben tennyson', '2000'])

In [12]:
my_dic.items()

dict_items([('sport', 'tennis'), ('cartoon', 'ben tennyson'), ('born', '2000')])

In [20]:
my_dic.update({'born':'2003'})
my_dic

{'sport': 'tennis', 'cartoon': 'ben tennyson', 'born': '2003'}

In [21]:
my_dic.pop('born')
print(my_dic)

{'sport': 'tennis', 'cartoon': 'ben tennyson'}

In [22]:
my_dic.popitem()
print(my_dic)

{'sport': 'tennis'}

In [23]:
my_dic.clear()
print(my_dic)

{}

In [27]:
del my_dic['sport']
print(my_dic)

NameError: name 'my_dic' is not defined

In [32]:
#print the insert the integers in any position



list_number=[30,8,20,72]
print(list_number)

list_number.insert(0,1)
print("updated_list:",list_number)

list_number.insert(3,6)
print("updated_list:",list_number)

[30, 8, 20, 72]
updated_list: [1, 30, 8, 20, 72]
updated_list: [1, 30, 8, 6, 20, 72]

In [34]:
#print the delete a element in index

list_number=[93,76,24,806,117,264]
print(list_number)

list_number.pop(0)   #using pop
print("updated_list:",list_number)

list_number=[93,76,24,806,117,264]
print(list_number)

del list_number[4]   #using del
print("updated_list:",list_number)

[93, 76, 24, 806, 117, 264]
updated_list: [76, 24, 806, 117, 264]
[93, 76, 24, 806, 117, 264]
updated_list: [93, 76, 24, 806, 264]

In [41]:
#display the numbers from 1 to 100

def display(count):
    while count<=100:
      print(count)
      count=count+9;
display(0)

0
9
18
27
36
45
54
63
72
81
90
99

In [54]:
#sum of all items in tuple




my_tuple=(1,5,6,7,17,18)
sum=0
for i in my_tuple:    #using loop
    sum+= i
print(sum)

54

In [57]:
 #CONTROL STRUCTURE 3.# search for string in  the list.

l1 = ['A', 'B', 'C', 'D', 'a', 'h', 'f']
s = input('Please enter a character A-Z:\n')

if s in l1:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

Please enter a character A-Z:
h
h is present in the list

In [58]:
#CONTROL STRUCTURE # 4. function accepts the string and find no.of uppercase and no.of lowercase



def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The Foxtale is most promising brand in START-UP')

Original String :  The Foxtale is most promising brand in START-UP
No. of Upper case characters :  9
No. of Lower case Characters :  30

In [63]:
#CONTROL STRUCTURE # 5. display the number of odd & even between 12 and 37

start, end = 12, 37
 
# iterating each number in list
#for num in range(start, end + 1):

#numbers = (12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37)
                                    
count_odd = 0
count_even = 0
for x in range(start, end + 1):
        if  x % 2:
    	     count_even+=1
        else:
             count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 13
Number of odd numbers : 13

In [61]:
#CONTROl STRUCTURE 17.pattern

word = "Python"
x = ""
for i in word:
    x += i
    print(x)
n=int(input("Enter no of rows:"))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

P
Py
Pyt
Pyth
Pytho
Python
Enter no of rows:3
*
* *
* * *

In [62]:
#CONTROL STRUCTURE 17.Pattern


n=int(input("Enter no of rows:"))
m=(2 * n) - 2
for i in range(0, n):
    for j in range(0, m):
        print(end=" ")
    m=m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")
n=int(input("Enter number:"))
for i in range(n+1):
    for j in range(n-i):
        print(' ', end='')

    a = 1
    for j in range(1, i+1):
        print(a, ' ', sep='', end='')
        a = a * (i - j) // j
    print()

Enter no of rows:10
                  *
                 *  *
                *  *  *
               *  *  *  *
              *  *  *  *  *
             *  *  *  *  *  *
            *  *  *  *  *  *  *
           *  *  *  *  *  *  *  *
          *  *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *  *  *
Enter number:6

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [64]:
#CONTROL STRUCTURE 6.create the number table for any number


number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
                                                              # We are using "for loop" to iterate the multiplication 10 times       
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 4
The Multiplication Table of:  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [68]:
#display sum of first 10 prime number

r=10 
for a in range(2,r+1):  
    k=0  
    for i in range(2,a//2+1):  
        if(a%i==0):  
            k=k+1  
    if(k<=0):  
        print(a,end=" ")

2 3 5 7

In [5]:
   #CONTROL STRUCTURER #  7.sum of first 10 prime numbers


last_number = int(input("\nPlease enter the last number up till which sum of prime number is to be found:"))

print ("We will find the sum of prime numbers in python upto", last_number)

sum = 0

for number in range(2, last_number + 1):

    i = 2
    for i in range(2, number):
        if (int(number % i) == 0):
            i = number
            break;

    if i is  number:
        
        sum = sum + number

print("\nThe sum of prime numbers in python from 1 to ", last_number, " is :", sum)

Please enter the last number up till which sum of prime number is to be found:10
We will find the sum of prime numbers in python upto 10

The sum of prime numbers in python from 1 to  10  is : 39

In [16]:
#5 subject_marks
#Subject_Total
#Subject_Average
#Subject_Result

#If Pass Grade
 # 90-100 A
 # 80-89 B
   # 70-79 C
   # Else D
   # Else F

    #   CONTROL STRUCUTURE  #8. implement the arithmentic operation using nested if condition
    
m1 = int(input("Enter Mark-1  : "))
m2 = int(input("Enter Mark-2  : "))
m3 = int(input("Enter Mark-3  : "))
m4 = int(input("Enter Mark-4  : "))
m5 = int(input("Enter Mark-5  : "))

total = m1 + m2 + m3 + m4 + m5
average = total / 5.0
print("Total  : ", total)
print("Average  : ", average)
if m1 >= 35 and m2 >= 35 and m3 >= 35 and m4 >= 35 and m5 >= 35:
    print("Result  : Pass")
    if average >= 90 and average <= 100:
        print("Grade : A")
    elif average >= 80 and average <= 89:
        print("Grade : B")
    elif average >= 70 and average <= 79:
        print("Grade : C")
    else:
        print("Grade : D")
else:
    print("Result  : Fail")
    print("Grade   : No Grade")

Enter Mark-1  : 45
Enter Mark-2  : 67
Enter Mark-3  : 78
Enter Mark-4  : 90
Enter Mark-5  : 56
Total  :  336
Average  :  67.2
Result  : Pass
Grade : D

In [11]:
    #   CONTROL STRUCUTURE  #8. implement the arithmentic operation using nested if condition


age = int(input(" Please Enter Your Age Here:  "))
if age < 18:
    print(" You are Minor ") 
    print(" You are not Eligible to Work ") 
else:
    if age >= 18 and age <= 60:
        print(" You are Eligible to Work ")
        print(" Please fill in your details and apply")
    else:
        print(" You are too old to work as per the Government rules")
        print(" Please Collect your pension!")

 Please Enter Your Age Here:  13
 You are Minor
 You are not Eligible to Work

In [18]:
# CONTROL STRUCTURE # 9.convert the temperature in celsius into fahrenhit

celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
34
Temperature in Fahrenheit : 93.2

In [28]:
#10. CONTROL STRUCTURE minimum and maximum without using in built function

def minimum(x):
    x = sorted(x)
    return x[0]

def maximum(x):
    x = sorted(x)
    return x[-1]

print(minimum([2, -5, 79, 20, -67]))
print(maximum([45, -78, 950, 39, -567]))

-67
950

In [33]:
#12.CONTROL STRUCTURE hours in year

days=365
hours=24
mins=60
second=60
seconds_year = days * hours * mins * second
print("N0 of seconds in a year:", seconds_year)

N0 of seconds in a year: 31536000

In [40]:
#11.number of seconds in 30 days 

def seconds_per_day(days):
    hours = days * 24
    minutes = hours * 60
    seconds = minutes * 60
    return seconds
print(seconds_per_day(24)) 


def hours_per_day(days):
    hours = days * 24
    minutes = hours * 60
    seconds = minutes * 60
    return seconds
print(hours_per_day(1))

def minutes_per_day(days):
    hours = days * 24
    minutes = hours * 60
    seconds = minutes * 60
    return seconds
print(minutes_per_day(1))

2073600
86400
86400

In [42]:
#16.right rotate the list without using slicing techniques


def rightRotate(lists, num):
    output_list = []
 
                                                              # Will add values from n to the new lis
    for item in range(len(lists) - num, len(lists)):
        output_list.append(lists[item])
 
                                                 # Will add the values before
                                                 # n to the end of new list
    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list
 
 
                                
rotate_num = 3
list_1 = [1, 2, 3, 8, 12, 15, 19]
 
print(rightRotate(list_1, rotate_num))

[12, 15, 19, 1, 2, 3, 8]

In [43]:
#15. find the younger one among the three brothers

age1=int(input("Age of Ram:"))
age2=int(input("Age of Sam:"))
age3=int(input("Age of khan:"))
                                                 
if(age1>age2 and age1>age3):
    print("Ram is older")
elif(age2>age3):
    print("Sam is older")
else:
    print("khan is older")
                                                
if(age1<age2 and age1<age3):
    print("Ram is younger")
elif(age2<age1 and age2<age3):
    print("Sam is younger ")
else:
    print("khan is younger")

Age of Ram:2
Age of Sam:3
Age of khan:1
Sam is older
khan is younger

In [52]:
# CONTROL STRUCTURE #2. employee salary


def employee_Salary(basic):
     
    hra = 0.15 * basic
    da = 0.25 * basic
    ta = 0.75 * basic
    tax = 0.10 
     
    pay = round(basic + hra + da )
    gross  = float(basic - tax)
                     
    return gross
 
                                           # Driver code
if __name__ == '__main__':
     
    basic = 10000
     
                                              # Function call
    print(employee_Salary(basic))

9999.9

In [58]:
avgspeed=150
distance=666126                       #13.CONTROL STRUCTURE # mile =1609 meters,so(414*1609)
time=666126/150                                #average speed=d/t
print( "show the time was taken :",time)
min=time*60                                             #1hr=60 min
print(" show the average minute :",min)

show the time was taken : 4440.84
 show the average minute : 266450.4

In [61]:
#print FIRST N prime number
n= int(input("Enter n:"))   
for num in range (2,n+1):  
    if num>1:  
        for i in range (2, num):  
            if (num%i)==0:  
                break  
        else:  
            print(num)

Enter n:50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [72]:
# CONTROL STRUCTURE 14. #days_in_each_year = 192
                     #spent_hour = 6
def school_year(n):
    return(spent)
    return(hours)


spent = int (5*192)
hours = int (spent*6)

print('spent: ', spent )
print('hours: ',  hours )

spent:  960
hours:  5760

In [103]:
##11. second character uppercase

ls = [ 'hello','Dear','hOw','aRe','YOu']
 
ls[2::]    

ls[1::]

['Dear', 'hOw', 'aRe', 'YOu']

In [111]:
#CONTROL STRUCTURE #11.minute ,seconds ,hours

month=30                          #days
day=24                            #hrs
hour=60                            #min
minute=60                              #sec
no_of_secs_in_30days=30*24*60*60
print("no_of_secs_in_30days:",  no_of_secs_in_30days)
                                 #no of sec in 24 hrs
no_of_secs_in_24hrs=24*60*60
print("no_of_secs_in_24hrs:",  no_of_secs_in_24hrs )
                                      #no_of_secs_in_60min
no_of_secs_in_60minute=60*60
print("no_of_secs_in_60minute:",  no_of_secs_in_60minute)

no_of_secs_in_30days: 2592000
no_of_secs_in_24hrs: 86400
no_of_secs_in_60minute: 3600

In [4]:
# 13.weight in moon
dic = {'john':'45','shelly':'65','mary':'55'}
name_person = str(input())
weight = int(input('Enter your weight: '))
moon_weight = lambda x:x*1.622/9.81
print('name of the person : ', name_person)
print('Your weight on the moon will be: ',moon_weight(weight))

shelly
Enter your weight: 65
name of the person :  shelly
Your weight on the moon will be:  10.747196738022426

In [4]:
#11.lambda

dict={'square':lambda x :x*x,'cube':lambda x:x*x*x,'squareroot':lambda x:x**0.5}
dict

{'square': <function __main__.<lambda>(x)>,
 'cube': <function __main__.<lambda>(x)>,
 'squareroot': <function __main__.<lambda>(x)>}

In [5]:
value=float(input("Enter a number: "))
for operation,func in dict.items():
    result=func(value)
    print(f'{operation} of {value} is {result}')

Enter a number: 4
square of 4.0 is 16.0
cube of 4.0 is 64.0
squareroot of 4.0 is 2.0

In [6]:
sum=0
for operation,func in dict.items():
    result=func(value)
    sum+=result
print("sum of each output:",sum)

sum of each output: 82.0